.contracts {
  height: calc(100vh - var(--size-contract-header));
  display: flex;
  padding: 0.5rem;
}
.contracts-sidebar {
  display: flex;
  width: 19.6875rem;
  height: 100%;
  padding: 1.5rem;
  flex-direction: column;
  gap: 1rem;
  background-color: #f4f7fc;
}
.contracts-sidebar-tilte {
  color: var(--color-secondary);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.contracts-sidebar-main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contracts-sidebar-data {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  align-items: center;
}
.contracts-sidebar-name {
  overflow: hidden;
  color: #000;

  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.contracts-sidebar-cui {
  color: #808080;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.89288rem; /* 142.857% */
  letter-spacing: 0.0625rem;
}
.contracts-add-content {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.contracts-sideba-figure {
  width: 1rem;
}
.contracts-add-span {
  font-size: 0.7rem;
  color: var(--color-primary);
  font-weight: 500;
}

.contracts-main {
  display: flex;
  height: 100%;
  padding: 0.5rem;
}
.contracts-level-title {
  color: var(--color-secondary);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.contracts-main-level {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contracts-main-info {
  flex: 1;
}
.contracts-level-contain {
  height: 100%;
  overflow-y: auto;
}
.contracts-sidebar-figure {
  width: 1rem;
}
