.contractRowSchedule-text-subtitle {
  font-weight: 600;
  font-size: 0.6rem;
}
.contractRowSchedule-text-info {
  font-size: 0.6rem;
}
.contractRowSchedule-text-title {
  font-weight: 700;
  font-size: 0.6rem;
}
