.btn-main {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 2px solid var(--color-primary);
  border-radius: var(--radius-button);
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: var(--size-button);
}

.btn-main img {
  width: 1.5rem;
  height: 1.5rem;
}

.btn-delete {
  border: 2px solid var(--color-unresolved);
}

.btn-alert {
  font-size: var(--size-paragraph);
  font-weight: 400;
  border: 1px solid var(--color-tertiary);
  color: #000;
}

.alert-modal-main {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #00000062;
  z-index: 10;
}

.alert-modal-children {
  margin: 0;
  align-items: center;
  border-radius: var(--radius-input);
  background-color: #fff;
  box-shadow: 3px 5.5px 4px rgba(0, 0, 0, 0.2);
  max-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.alert-modal-children h3 {
  font-weight: bold;
  text-align: center;
  color: var(--color-secondary);
}

.alert-modal-children img {
  width: 4rem;
  height: 4rem;
}

.container-btn {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
