.area {
  margin-top: 3rem;
}

.area-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-add {
  color: var(--color-primary);
  box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.2);
  /* background-color: var(--color-menu); */
}

.area-title {
  color: var(--color-secondary);
  font-size: var(--size-title);
  font-weight: 800;
}

.area-title-span {
  color: var(--color-primary);
}

.area-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}