.card-register-area {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 2.2rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: var(--radius-button);
  background-color: var(--color-menu);
  z-index: 2;
  box-shadow: 2px 2.5px 6px rgba(0, 0, 0, 0.2);
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input-project {
  height: 2rem;
  width: 100%;
  padding: 0.2rem;
  font-size: var(--size-input);
  border: 2px solid var(--color-secondary);
  background-color: #ffffff00;
  border-radius: var(--radius-input);
}
.dropdown-area {
  width: 100%;
  /* border: 1px solid var(--color-secondary);
  border-radius: var(--radius-input); */
  height: 2rem;
}

.btn-area {
  margin: auto;
  padding: 0.3rem;
  border: 2px solid var(--color-secondary);
  border-radius: var(--radius-input);
  color: var(--color-primary);
  border-color: var(--color-primary);
  transition: 0.5s ease;
  /* margin-top: calc(1rem + 25px); */
}

.btn-area:hover {
  background-color: var(--color-secondary);
  color: #ffffff;
}
