.task-counter-container {
  display: flex;
  gap: 0.2rem;
}
.task-counter-unresolved {
  color: var(--color-unresolved);
}
.task-counter-process {
  color: var(--color-process);
}
.task-counter-done {
  color: var(--color-done);
}
