.projectGroup-head-options {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: end;
  padding: 0 2rem 0.3rem 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.projectGroup-container {
  background-color: #fff;
  box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.2);
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  position: relative;
}

.projectGroup-add-stage-container {
  width: 100%;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: var(--radius-input);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-evenly;
}

.projectGroup-add-stage-list {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.projectGroup-add-stage-list-label {
  font-weight: 500;
}

.projectGroup-container-close-stage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projectGroup-close-button-stage {
  width: 1.5rem;
  border: none;
}

.projectGroup-title-stage {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.projectGroup-container-send-stage {
  display: flex;
  align-items: center;
  justify-content: end;
}

.projectGroup-send-button-stage {
  height: 1.8rem;
  font-size: 0.8rem;
  font-weight: 400;
  background-color: var(--color-secondary);
  color: #fff;
  border: none;
}
