.subtaskUploadFiles-area {
  display: flex;
  border-radius: 0.41519rem;
  border: 1.329px dashed rgba(0, 0, 0, 0.4);
  height: 3rem;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.subtaskUploadFiles-text {
  position: absolute;
  pointer-events: none;
  color: #000;
  text-align: center;
  font-size: 0.91344rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.subtaskUploadFiles-input {
  width: 100%;
  height: 100%;
  opacity: 0;
}
