.content-area {
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-select {
  height: 3.5rem;
  width: 100%;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: var(--size-input);
}

.close-icon-project {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 1.3rem;
  border-radius: 50%;
}

.select-area {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.input-label {
  width: 100%;
  height: 25px;
  color: #203881;
  font-size: var(--size-label);
  font-family: 'Montserrat', sans-serif;
}

.input-select {
  color: #203881;
  font-size: var(--size-label);
}

.card-register-project {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--radius-button);
  background-color: white;
}

.col-input {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.col-input-top {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.input1 {
  height: 2.8rem;
  border: 2px solid var(--color-quaternay);
  border-radius: var(--radius-input);
  padding: 0 0.3rem;
  font-size: var(--size-input);
  width: 100%;
}
.input2 {
  height: 2.8rem;
  width: 40rem;
  border: 2px solid var(--color-quaternay);
  border-radius: var(--radius-input);
  padding: 0 0.3rem;
  font-size: var(--size-input);
  flex: 1;
}

.col-unique {
  text-transform: capitalize;
  padding: 0.5rem 0;
  display: flex;
  font-weight: 600;
  align-items: center;
  gap: 2rem;
}

.btn-build {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 50%;
  height: 3.5rem;
  border-radius: 8px;
  font-size: var(--size-button);
  font-weight: bold;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin-top: 30px;
}

.btn:hover {
  background-color: var(--color-secondary);
}

.send-button {
  width: 40%;
  justify-content: center;
  margin: auto;
  transition: color ease 0.5s, background-color ease 0.5s;
}
.send-button:hover {
  background-color: var(--color-quaternay);
  color: #fff;
}
