.vd-container-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  border-bottom: 0.15rem solid var(--color-quaternay);
  border-radius: 0.3rem;
  font-size: 0.7rem;
  color: var(--color-quaternay);
  font-weight: 600;
}

.vd-list-text {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vd-docs-area {
  height: 4rem;
}
