.uploadFile {
  display: flex;
  border: 2px dashed var(--color-primary);
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  width: 100%;
}
.uploadFile-text {
  position: absolute;
  font-size: 0.7rem;
  font-weight: 700;
  color: gray;
  text-align: center;
}
.uploadFile-input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
