.stageItem-input {
  background-color: #f5f5f5;
  /* z-index: 1; */
}

.stageItem-icon-area {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  height: 100%;
  align-items: center;
}

.stageItem-dots {
  right: -2rem;
  top: 0.2rem;
}

.activeLink {
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 0.2rem;
  color: #424242;
}
