.lp-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.lp-free-day-img {
  width: 1.2rem;
  height: 1.2rem;
}
.lp-license {
  color: var(--color-primary);
  cursor: pointer;
  height: auto;
  font-size: 0.75rem;
  font-weight: 500;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border: 1px solid var(--color-primary);
  padding: 0.2rem 0.2rem;
  border-radius: var(--radius-input);
  background-color: var(--color-quinary);
}
.lp-license:hover {
  text-decoration: underline;
}
.lp-grid-container {
  overflow-y: auto;
  height: 90%;
  background-color: white;
  width: 100%;
  /* padding: 0 0.5rem; */
}
