.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--color-secondary);
  height: var(--header-height);
  border-bottom: 4px solid var(--color-primary);
  border-radius: 0 0 5px 5px;
}

.header-figure {
  width: 6rem;
}
.items-list {
  display: flex;
  gap: 2rem;
}
.items-list li {
  color: black;
  padding: 0.5rem;
  text-decoration: none;
  display: inline-block;
  font-size: var(--size-subtitle);
}
.item-nav-active {
  color: white;
  border-radius: 10px;
  font-weight: 600;
  padding: 10px 20px;
  background-color: var(--color-quaternay);
}
.item-nav-inactive {
  color: white;
  font-weight: 600;
  padding: 10px 20px;
}
.input-search {
  border: 1px solid #000;
  font-size: var(--size-input);
  padding: 0.5rem;
  border-radius: var(--radius-input);
}
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header {
  width: 100%;
}
.icons-list {
  display: flex;
  gap: 1rem;
}
.icons-list li img {
  width: 2rem;
  height: 2rem;
}
