.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--color-secondary);
  width: var(--header-height);
  border-right: 4px solid var(--color-primary);
  /* border-radius: 0 0 5px 5px; */
  height: 100%;
}

.nav-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
}

.header-figure {
  width: calc(var(--header-height) - 0.5rem);
  margin-top: 2rem;
}

.items-list {
  width: 86%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.items-list li {
  display: inline-block;
}

.item-nav {
  display: flex;
  justify-content: end;
  width: 2.6rem;
  position: relative;
  height: 2.6rem;
  padding-left: 6px;
}
.nav-active {
  border-left: 4px solid #fff;
  z-index: 10;
}

.nav-inactive {
  color: white;
}

.items-list-icon {
  width: 100%;
  display: flex;
  justify-content: end;
  background-color: var(--color-secondary);
  height: 100%;
}
.item-list-icon-message {
  position: absolute;
  left: 2.4rem;
  top: 2rem;
  font-size: 12px;
  font-weight: 600;
  background-color: #f4f2c6;
  color: var(--color-secondary);
}
.items-list-icon img {
  width: 100%;
  height: 90%;
}
.input-search {
  border: 1px solid #000;
  font-size: var(--size-input);
  padding: 0.5rem;
  border-radius: var(--radius-input);
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.icons-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}

.icon-list-item {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}

.icon-list {
  position: relative;
}

.nav-logo {
  cursor: pointer;
}
