.company {
  max-height: 100vh;
  /* overflow-y: hidden; */
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  height: 100%;
}
.consortium-title {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  color: var(--color-secondary);
  padding: 0.5rem 0.4rem;
  cursor: pointer;
}
.cs-selected {
  background-color: #f3f5f7;
  border-radius: 1rem;
}
