.subtaskUploadFiles-area {
  display: flex;
  border: 2px dashed var(--color-primary);
  height: 7rem;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.subtaskUploadFiles-text {
  position: absolute;
  pointer-events: none;
  font-size: 1rem;
  font-weight: 700;
  color: gray;
  text-align: center;
}
.subtaskUploadFiles-input {
  width: 100%;
  height: 100%;
  opacity: 0;
}
