.paper-work-container-main {
  padding: 1rem;
}
.paper-work-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  border-radius: var(--radius-button);
  padding: 4rem;
  filter: drop-shadow(0 4px 2px rgb(0 0 0 / 0.07));
}
.paper-work-title {
  font-size: 2rem;
  color: var(--color-primary);
  text-transform: uppercase;
}
.paper-work-container-cards {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
}
