.card-register {
  position: relative;
}
.content-area {
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-register-title-info {
  padding: 0;
  font-size: 1rem;
  color: var(--color-secondary);
  font-weight: 700;
}
.card-register-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.select-area {
  display: grid;
  gap: 2rem;
  width: 100%;
}

.input-label {
  width: 100%;
  height: 25px;
  color: #203881;
  font-size: var(--size-label);
}

select:focus {
  outline: none;
}

.card-register-users {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  background-color: white;
}

.col-input {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-end;
}

.btn-build {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 50%;
  height: 3.5rem;
  border-radius: 8px;
  font-size: var(--size-button);
  font-weight: bold;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin-top: 30px;
}

.btn:hover {
  background-color: var(--color-secondary);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

.input-check {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cheack-content {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  height: 3.5rem;
}

.cheack-content p {
  color: var(--color-secondary);
  font-size: var(--size-label);
}
.user-station {
  display: flex;
  gap: 0.4rem;
  border-radius: 10px;
  border: 1px solid var(--color-secondary);
  padding: 0.25rem 0.3125rem;
  cursor: pointer;
}
.user-station-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.col-station-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-station-pc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-register-radio-input-text {
  font-size: 0.85rem;
}
.card-register-radio-container {
  display: flex;

  flex-direction: column;
  gap: 0.5rem;
}

.card-register-sworn-declaration {
  position: absolute;
  background-color: white;
  left: 100%;
  top: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  width: 17rem;
}
.card-register-sworn-declaration-select:has(:checked) {
  --rotate: rotate(180deg);
}
.card-register-sworn-declaration-select:has(:checked)
  + .card-register-sworn-declaration-dropdown-content {
  grid-template-rows: 1fr;
}

.card-register-sworn-declaration-arrow {
  width: 1.5rem;
  margin-left: auto;
  transform: var(--rotate, 0);
  transition: 0.2s transform;
}
.card-register-sworn-declaration-dropdown-content {
  display: grid;
  grid-template-rows: var(--rows, 0fr);
  transition: 0.3s grid-template-rows;
}
.card-register-sworn-declaration-title {
  font-size: 1rem;
}
.card-register-sworn-declaration-dropdown-sub {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 98%;
  margin-left: auto;
  margin-top: 0.2rem;
  gap: 0.5rem;
}
.card-register-dropdown-check {
  position: absolute;
  min-width: 100%;
  opacity: 0;
  cursor: pointer;
  height: 100%;
}
.card-register-sworn-declaration-subtitle {
  font-size: 0.8rem;
}
.card-register-radio-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.card-register-sworn-declaration-check-container {
  display: flex;
  gap: 0.5rem;
  font-size: 0.7rem;
}
