.gd-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gd-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gd-body {
}

.gd-close-span {
  position: absolute;
  z-index: 1;
  right: -5px;
  top: -10px;
  cursor: pointer;
  padding: 0.05rem 0.2rem;
  background-color: red;
  border-radius: 50%;
  color: white;
  font-weight: bolder;
}

.gd-options {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.25rem;
}

.gd-options-btn {
  color: #6a6f79;
  font-size: 0.675rem;
  font-style: normal;
  font-weight: 500;
  background-color: var(--color-menu);
  border: none;
}
