.container-list-task {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: var(--radius-input);
  box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.switch {
  width: 12rem;
  height: 1.4rem;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgba(255, 209, 64, 0.3);
  display: flex;
  justify-content: flex-start;
  border-radius: 2rem;
  align-items: center;
  padding: 0 2px;
  cursor: pointer;
}

.switch[data-isOn='true'] {
  justify-content: flex-end;
  background-color: rgba(87, 217, 163, 0.3);
}

.handle {
  display: flex;
  align-items: center;
  width: 7.5rem;
  height: 1.1rem;
  background-color: var(--color-process);
  border-radius: 30rem;
  justify-content: center;
}

.handle2 {
  background-color: var(--color-done);
}

.header-of-header {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1.3rem;
}

.cards {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0rem 1rem 0rem 1rem;
}

.sub-cards {
  width: 100%;
}

.my-card-span {
  font-size: 2rem;
}

.my-container-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f7f7f7;
  padding: 1rem 4rem 0rem 4rem;
  border-radius: var(--radius-input);
  width: 100%;
}

.my-title-list {
  padding: 0.2rem 1rem;
  border-radius: var(--radius-button);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background-color: #fff;
  box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.2);
  color: var(--color-tertiary);
}

.my-title-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-project-list {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.my-select-speciality {
  height: 2rem;
  border: none;
  box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--color-menu);
}

.span-list-task {
  font-size: small;
}
