.speciality-add-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  width: 100%;
  height: 5rem;
}
.speciality-content-add-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--color-quaternay);
  border: 0.15rem dashed var(--color-quaternay);
  width: 100%;
  height: 5rem;
  cursor: pointer;
  transition: ease 0.5s;
}

.speciality-content-add-card:hover {
  background-color: #ffffff;
  font-size: 1.1rem;
  border: 0.15rem dashed var(--color-primary);
  color: var(--color-primary);
}
.text-area-card {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-menu);
  color: var(--color-quaternay);
  border: 0.15rem dashed var(--color-quaternay);
  width: 100%;
  height: 5rem;
  cursor: pointer;
}
.text-areas {
  border-radius: 12px;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 800;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  resize: none;
}
.text-area-btns {
  height: 100%;
}
.close-add-card {
  position: absolute;
  background-color: #ffffff00;
  width: 1.2rem;
  height: 1.2rem;
  right: 0.5rem;
  top: 0.5rem;
  transition: ease 0.5s;
  cursor: pointer;
}
.close-add-card:hover {
  transform: rotate(90deg);
}

.editable-add-submit {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  padding: 0;
  gap: 0;
  width: 1.2rem;
  height: 2rem;
  border: none;
}
