.information-container {
  background-color: white;
  width: 100%;
  padding: 1.5rem;
  border-radius: var(--radius-input);
}
.information-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-secondary);
}
.information-header {
  display: flex;
  justify-content: space-between;
}
.content-head {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.conten-buttons-actions {
  display: flex;
  gap: 1rem;
}
.content-add-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.content-lists-users {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.subtask-files {
  display: flex;

  border-radius: var(--radius-input);
  background-color: var(--color-menu);
  padding: 0.5rem;
  height: 9rem;
  overflow-y: auto;
  gap: 0.5rem;
  width: 100%;
  flex-direction: column;
}
.subtask-file {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.content-files {
  padding: 0.6rem;
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 2rem;
}
.subtask-file-icon {
  width: 1rem;
  display: flex;
  gap: 1rem;
}
.subtask-file-contain {
  display: flex;
  gap: 1rem;
}
.subtask-file-name {
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  color: black;
}
.content-details {
  display: flex;
  flex: 1;
  padding: 0.6rem;
  justify-content: space-between;
  flex-direction: column;
}
.line-divide {
  height: 100%;
  background-color: rgba(128, 128, 128, 0.664);
}
.btn-content {
  display: flex;
  justify-content: space-around;
}
.statement {
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: rgba(14, 155, 216, 0.2);
  border-radius: var(--radius-input);
}
.statement div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.subtask-delete-icon {
  background-color: white;
  padding: 0;
  border: none;
}
.subtask-delete-icon img {
  width: 1rem;
}
.content-file {
  display: flex;
  gap: 1rem;
}
.content-file-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--color-secondary);
  width: 10rem;
}
.content-details p {
  text-align: center;
  color: var(--color-primary);
  font-weight: 600;
}
.content-details label {
  font-weight: 600;
}
.progress-bar {
  width: 100%;
  height: 5px;
  background-color: #ccc;
  position: relative;
}
.content-file-send {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.content-file-send-button {
  font-size: 0.8rem;
}
.progress-bar-line {
  height: 100%;
  background-color: #00aaff;
  transition: width 0.3s ease;
  position: absolute;
}

.progress-bar-points {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
}

.progress-bar-point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}
.content-advance-label {
  width: 100%;
  text-align: center;
  font-weight: 700;
}
.content-resource {
  display: flex;
  flex-direction: column;
}
.progress-bar-point.active {
  background-color: #00aaff;
}
.btn-declinar {
  background-color: #c81d1e;
  color: white;
  border: 2px solid #c81d1e !important;
}
.btn-revisar {
  background-color: #69d957;
  color: white;
  border: 2px solid #69d957 !important;
}
.status-content {
  width: 80%;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: red;
  aspect-ratio: 4;
  display: flex;
  align-items: center;
}
.status-text {
  width: 100%;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  border-radius: var(--radius-input);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.status-hold {
  background-color: var(--color-unresolved);
}
.status-process {
  background-color: var(--color-process);
}
.status-done {
  background-color: var(--color-process);
}
