.home {
  display: flex;
  min-height: calc(100vh - var(--header-height));
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-menu);
  gap: 3rem;
}

.home-title {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: var(--color-tertiary);
  font-weight: 800;
}
.title-content-span {
  color: var(--color-primary);
}
.paragraph {
  width: 70%;
  text-align: center;
  font-size: var(--size-label);
  color: var(--color-secondary);
}
.btn-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
}
.home-btn {
  min-width: 25rem;
  height: 3.5rem;
  font-size: var(--size-button);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.5s ease;
  border-radius: var(--radius-button);
}

.btn-color-1 {
  border: 2px solid var(--color-tertiary);
  color: var(--color-tertiary);
}
.btn-color-2 {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}
.btn-color-1:hover {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: white;
}
.btn-color-2:hover {
  background-color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  color: white;
}
