.container-home {
  width: 100%;
  flex: 1;
  min-height: calc(100vh - 7.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: F7F7F0;
  gap: 25px;
}
/* .btn{

} */
.btn-section {
  width: 30%;
  display: flex;
  gap: 48px;
}
.h1-left {
  color: var(--color-tertiary);
}

.h1-right {
  color: var(--color-primary);
}
.title-content {
  display: flex;
  gap: 10px;
}
.paragraph {
  width: 50%;
  text-align: center;
}
