.dl-content {
  display: flex;
  flex-direction: column;
}

.dl-header {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr 4fr 2fr;
  background-color: #f4f7fc;
  padding: 0.5rem 0.4rem;
}

.dl-title {
  font-size: 0.62856rem;
  font-style: normal;
  font-weight: 600;
}

.dl-body {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr 4fr 2fr;
  background-color: white;
  /* padding: 0.5rem 0.4rem; */
  min-height: 2rem;
  position: relative;
}

.dl-list {
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  border: 0.5px solid rgba(128, 128, 128, 0.226);
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
.dl-list-input {
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  border: 0.5px solid rgba(128, 128, 128, 0.226);
  padding-left: 5px;
  padding-right: 5px;
}
.dl-center {
  text-align: center;
  justify-content: center;
}
.dl-btns {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.25rem;
  flex-direction: row-reverse;
}
.dl-delete-btn {
  position: absolute;
  right: -4px;
  cursor: pointer;
}
