.dl-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
}
.dl-container {
  width: 100%;
  height: 100%;
}
.dl-theader {
  display: flex;
  flex-direction: row-reverse;
}
.dl-header {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 1fr 1fr 1fr 1fr;
  background-color: var(--color-gray);
  padding: 0.5rem 0.4rem;
  align-items: center;
  width: 100vw;
}

.dl-title {
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.dl-body {
  display: grid;
  grid-template-columns: 7.5fr 1fr;
  background-color: white;
  /* padding: 0.5rem 0.4rem; */
  min-height: 2rem;
  position: relative;
  width: 100vw;
  /* border: 1px solid var(--color-primary); */
}
