.select-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}
.select-label {
  width: 100%;
  height: 1.6rem;
  color: var(--color-quaternay);
  font-weight: 500;
  font-size: var(--size-label);
}
.select-field {
  height: 2.8rem;
  width: 100%;
  border: 2px solid var(--color-quaternay);
  border-radius: var(--radius-input);
  font-size: var(--size-input);
  padding: 0 0.3rem;
}
