.project-card {
  width: 100%;
  height: 7rem;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.2);
}

.project-card-figure {
  width: 3rem;
}

.project-card-main {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.projec-card-header {
  display: flex;
  justify-content: space-between;
}
.project-aditional-info {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: var(--color-primary);
  font-size: 0.9rem;
  max-width: 50%;
  height: 60px;
  overflow-y: auto;
}
.project-card-subtitle {
  color: var(--color-secondary);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.3rem 0;
}

.project-card-date {
  color: var(--color-primary);
  font-size: 0.9rem;
  font-weight: 600;
}

.project-card-cordinator {
  font-size: 0.8rem;
  color: var(--color-quaternay);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Número máximo de líneas */
  -webkit-box-orient: vertical;
  max-height: 1rem;
  width: 50%;
}

.project-card-description {
  color: var(--color-primary);
  font-weight: 800;
  font-size: 1rem;
}

.project-card-footer {
  display: flex;
  justify-content: space-between;
}
.project-btn-view {
  background-color: var(--color-primary);
  color: white;
  padding: 0.1rem;
}
.project-card-footer-area {
  display: flex;
  padding: 0.2rem;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.75rem;
}
.area-btn-add {
  font-size: 0.8rem;
  font-weight: 700;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--color-primary);
  color: #ffffff;
  transition: ease 0.4s;
  border: none;
}
.project-btn-container {
  position: relative;
}
.btn-delete-area {
  position: absolute;
  top: -0.5rem;
  right: -0.3rem;
  width: 1rem;
  height: 1rem;
  padding: 4px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid gray;
  transition: 0.3s ease;
}
.btn-delete-area:hover {
  scale: 1.1;
  transform: rotate(-90deg);
}

.btn-delete-area:active {
  scale: 0.9;
}
.project-btn-footer {
  font-size: 0.7rem;
  font-weight: 600;
  background-color: var(--color-primary);
  color: #ffffff;
  transition: ease 0.4s;
  border: none;
}

.project-btn-footer:hover,
.area-btn-add:hover {
  /* font-size: 0.8rem; */
  background-color: var(--color-quaternay);
  color: #ffffff;
  border: none;
}

.project-card-task {
  color: var(--color-secondary);
  font-weight: 600;
}

.project-card-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.project-edit-icon {
  background-color: var(--color-primary-gradiant);
  border: 0px;
  border-radius: 50%;
}
.project-size-img {
  width: 0.9rem;
}
.project-delete-icon {
  font-size: 0.5rem;
  background-color: var(--color-unresolved);
  border-radius: 50%;
  border: 0px;
}

.project-card-show {
  color: var(--color-primary);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.form-add-area {
  display: flex;
  gap: 0.5rem;
  height: 1.8rem;
  background-color: var(--color-menu);
  border: 2px solid var(--color-primary);
  border-radius: var(--radius-input);
}

.form-add-area button {
  border-radius: 0 0.5rem 0.5rem 0;
}
.form-input-area {
  height: 1.8rem;
  background-color: transparent;
}
.btn-red {
  background-color: #f56565;
}
.btn-red:hover {
  background-color: var(--color-unresolved);
}
