.project-card {
  width: 100%;
  height: 14rem;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.2);
}

.project-card-figure {
  width: 6rem;
}

.project-card-main {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
}

.projec-card-header {
  display: flex;
  justify-content: space-between;
}

.project-card-subtitle {
  color: var(--color-secondary);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 800;
}

.project-card-date {
  color: var(--color-primary);
  font-weight: 600;
}

.project-card-cordinator {
  color: var(--color-quaternay);
}

.project-card-description {
  color: var(--color-quaternay);
}

.project-card-footer {
  display: flex;
  padding: 0.2rem;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: end; */
}

.project-button-footer {
  font-size: 0.8rem;
  font-weight: 700;
  background-color: var(--color-primary);
  color: #ffffff;
  transition: ease 0.4s;
  border: none;
}

.project-button-footer:hover {
  font-size: 0.8rem;
  background-color: var(--color-quaternay);
  color: #ffffff;
  border: none;
}

.project-card-task {
  color: var(--color-secondary);
  font-weight: 600;
}

.project-card-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.project-edit-icon {
  background-color: var(--color-primary-gradiant);
  padding: 0.5rem;
  border: 0px;
  border-radius: 50%;
}

.project-delete-icon {
  background-color: var(--color-unresolved);
  padding: 0.5rem;
  border-radius: 50%;
  border: 0px;
}

.project-card-show {
  color: var(--color-primary);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
