.levelSubtask {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pointer:hover {
  background-color: rgba(142, 238, 255, 0.315);
}

.levelSubtask-content {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  width: 100%;
  background-color: #fff;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
}

.levelSubtask-context-menu {
  width: 100%;
  height: 30px;
}
.levelSubtask-drag {
  width: 100%;
  height: 30px;
}

.pointer {
  cursor: pointer;
}

.levelSubtask-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}

.levelSubtask-user-image {
  display: flex;
  gap: 0.1rem;
}

.levelSubtask-item--name {
  justify-content: flex-start;
  grid-column: 1/3;
  padding-left: 1rem;
}

.levelSubtask-text-name {
  margin-left: 1rem;
}

.levelSubtask-header {
  align-items: center;
  background-color: var(--color-primarylight);
}

.levelSubtask-header-title {
  color: #171c26;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 0.0275rem;
}

.levelSubtask-text {
  white-space: nowrap;
  color: #171c26;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.0175rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.levelSubtask-add {
  cursor: pointer;
  width: 100%;
  color: var(--color-secondary);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.0175rem;
  text-align: left;
}

.levelSubtask-plus {
  font-weight: 900;
}

.levelSubtask-btn {
  border: none;
  width: 1.7rem;
}

.levelSubtask-content-active {
  background-color: rgba(142, 238, 255, 0.315);
}
