.aside {
  height: calc(100vh - var(--header-height));
  width: 23rem;
  background-color: white;
  position: absolute;
  left: -23rem;
  top: 0;
  z-index: 4;
  padding: 0 1rem 0 0.5rem;
  transition: 0.3s left ease;
  border-right: 3px solid var(--color-primary);
  box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.2);
}
.aside-slice {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - var(--header-height) - 90px);
}
.aside-show {
  left: 0;
}
.index-task-section {
  display: flex;
  align-items: center;
}
.aside-title-info {
  margin: 1rem 0;
  font-size: 0.9rem;
}
.aside-coordinator-off {
  color: var(--color-unresolved);
  font-weight: 500;
  font-size: 0.8rem;
}
.aside-add-index-task {
  display: flex;
  font-size: 0.8rem;
  gap: 0.8rem;
  padding: 0.5rem 1rem;
  color: var(--color-primary);
  font-weight: 500;
  justify-content: space-between;
  /* border: 1px solid red; */
  border-radius: var(--radius-input);
  /* background-color: var(--color-menu); */
}
.add-btn-indextask {
  width: 1rem;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: 0.1s ease;
}

.menu-index-task {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-index-task img {
  height: 1.2rem;
}
.aside-name-index {
  flex-grow: 1;
}
.delete-indextask {
  padding: 0;
  gap: 0;
  width: 2rem;
  height: 3rem;
  border: none;
}
.aside-title {
  color: var(--color-secondary);
  text-align: left;
  font-size: 1.1rem;
  overflow-y: auto;
  height: 2.4rem;
  margin-right: 0.5rem;
}
.aside-dropdown-section {
  flex-grow: 1;
  display: flex;
  position: relative;
  padding: 0.5rem;
  color: var(--color-secondary);
  font-size: 1rem;
  align-items: center;
  gap: 0.6rem;
  font-weight: 700;
  border-radius: 0.5rem;

  gap: 0.5rem;
}
.indextask {
  background-color: var(--background-indextasks, white);
}
.aside-dropdown-section-active {
  background-color: #d9d9d9;
  border-radius: 0.5rem;
}
.area-menu-button {
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.5s ease-out;
  cursor: pointer;
}
.area-menu-button:hover {
  transform: rotate(-90deg);
}
.area-menu-button:active {
  scale: 0.9;
}

.aside-container-title {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.aside-dropdown-icon {
  width: 1.5rem;
}
.aside-dropdown-check {
  position: absolute;
  min-width: 90%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.aside-dropdown-arrow {
  width: 1.5rem;

  margin-left: auto;
  transform: var(--rotate, 0);
  transition: 0.2s transform;
}

.index-task-section:has(:checked) {
  /* --rows: 1fr; */
  --rotate: rotate(180deg);
  --background-indextasks: #d9d9d9;
}
.index-task-section:has(:checked) + .aside-dropdown-content {
  grid-template-rows: 1fr;
}

.aside-dropdown-content {
  display: grid;
  grid-template-rows: var(--rows, 0fr);
  transition: 0.3s grid-template-rows;
}
.aside-dropdown-sub-list-item:has(:checked) {
  --rotate: rotate(180deg);
  --background: #d9d9d9;
}

.aside-dropdown-sub-list-item:has(:checked) + .aside-dropdown-content {
  grid-template-rows: 1fr;
}
.aside-dropdown-sub {
  overflow: hidden;
  width: 95%;
  margin-left: auto;
  margin-top: 0.2rem;
}
.aside-dropdown-sub-list {
  display: flex;
  flex-direction: column;
}
.aside-dropdown-sub-list-item {
  display: flex;
  align-items: center;
  color: var(--color-secondary);
  border-left: 0.2rem solid var(--color-secondary);
  text-transform: capitalize;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
}
.aside-dropdown-sub-list-span {
  padding: 0.7rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  background-color: var(--background, white);
}
.aside-dropdown-sub-list-span-active {
  background-color: #d9d9d9;
}
.aside-dropdown-sub-list span {
  flex-grow: 1;
}
.input-task {
  flex-grow: 1;
  height: 2rem;
  padding: 0 0.5rem;
  border-radius: var(--radius-input);
  background-color: var(--color-menu);
}
.delete-task {
  padding: 0;
  gap: 0;
  width: 2rem;
  height: 2rem;
  border: none;
}
.aside-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.aside-slide-icon {
  width: 2rem;
  transform: rotate(270deg);
  transition: 0.2s transform;
  cursor: pointer;
  position: absolute;
}
.trapecio {
  height: 8rem;
}
.aside-slide-icon-rotate {
  transform: rotate(90deg);
}
.aside-slide-check {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.aside-edit-area-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.aside-checkbox-edit {
  background-color: white;
  height: 18px;
  width: 18px;
  appearance: none;
  transition: 0.5s ease;
  border: 1px solid #aaaaaa;
  border-radius: 0.3rem;
}
.aside-checkbox-edit:checked {
  background-color: var(--color-primary);
}
.aside-checkbox-edit:focus {
  outline: none;
}

.aside-unique-container {
  display: flex;
  gap: 0.3rem;
  font-weight: 600;
  height: 100%;
  align-items: center;
  font-size: 0.8rem;
}
