.attendance {
  max-height: calc(100vh - var(--header-height));
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.attendance-head {
  display: flex;
  padding: 1rem 1rem;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-menu);
}

.attendance-card-container {
  padding: 0 1rem;
  display: grid;
  margin-top: 1rem;
  overflow-y: auto;
}

.attendance-header {
  display: grid;
  /* grid-template-columns: repeat(6, minmax(0, 1fr)); */
  grid-template-columns: 0.5fr 1fr 2fr 1fr 1fr 1fr 1fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  width: 100%;
  /* border-bottom: 0.15rem solid var(--color-quaternay); */
  border: 0.1rem solid rgba(201, 193, 193, 0.329);
  border-radius: 0.3rem;
  font-size: 0.7rem;
  color: #464f60;
  font-weight: 600;
  background-color: #f3f6fc;
  padding: 12px 10px;
}

.attendance-list-text {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: baseline;
}

.attendance-item {
  max-width: 3rem;
  /* Ancho máximo para ITEM, ajusta según tus necesidades */
}

.attendance-p {
  height: 100%;
  border-bottom: 2px solid #57d9a3;
  padding-bottom: 0.2rem;
  color: #424242;
  justify-content: center;
}

.attendance-t {
  border-bottom: 2px solid #ffd140;
  padding-bottom: 0.2rem;
  color: #424242;
  justify-content: center;
}

.attendance-f {
  border-bottom: 2px solid #df00004d;
  padding-bottom: 0.2rem;
  color: #424242;
  justify-content: center;
}

.attendance-g {
  border-bottom: 2px solid #df0000;
  padding-bottom: 0.2rem;
  color: #424242;
  justify-content: center;
}

.attendance-m {
  border-bottom: 2px solid #c00000;
  padding-bottom: 0.2rem;
  color: #424242;
  justify-content: center;
}

.attendance-l {
  border-bottom: 2px solid #2264e5;
  padding-bottom: 0.2rem;
  color: #424242;
  justify-content: center;
}

.attendance-icon {
  width: 1rem;
}

.attendance-date {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 1rem;
}

.attendance-btn-area {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.attendace-date-filter {
  width: 10rem;
}

.attendance-call-status {
  width: 140px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.attendance-img {
  width: 100%;
}

.attendance-text {
  position: absolute;
  color: white;
  font-weight: 600;
  font-size: 0.625rem;
}

.attendance-clip {
  width: 97px;
  height: 20px;
  background-color: #a6a8ab;
  clip-path: polygon(93% 0, 100% 50%, 93% 100%, 0 100%, 7% 50%, 0% 0%);
}

.attendance-clip:hover {
  background: repeating-linear-gradient(
    rgb(208, 166, 23) 0px,
    rgb(208, 166, 23) 8px,
    white 8px,
    white 16px
  );
}
.attendance-add-btn {
  border-radius: 5px;
  width: 1.5rem;
}
.attendance-btn-save {
  border-radius: var(--radius-input);
  background-color: var(--color-primary);
  color: white;
}
.attendance-btn-notify {
  border-radius: var(--radius-input);
  background-color: var(--color-grey);
  color: white;
  border-color: var(--color-grey);
}
