.userCenter {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.userCenter-header {
  position: relative;
  display: flex;
  background: white;
  align-items: center;
  padding: 1rem;
}
.user-header-menus {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  gap: 1rem;
}
.user-content {
  padding: 38px;
  background-color: white;
}
