.project-details-container {
  width: 100%;
  max-height: 30rem;
  overflow-y: auto;
  grid-column: span 6 / span 6;
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: 0.7rem;
  font-weight: 500;
  border-radius: var(--radius-input);
  background-color: var(--color-menu);
}

.project-grid-title {
  display: grid;
  position: sticky;
  top: 0;
  background-color: var(--color-secondary);
  color: #fff;
  font-weight: 600;
  padding: 0.3rem;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.project-grid-area {
  background-color: #fff;
}

.project-grid-title li {
  text-align: center;
  width: 100%;
}

.project-grid-container {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.project-grid-container li {
  margin: auto;
  /* border-bottom: 1px solid var(--color-menu); */
  height: 100%;
  width: 100%;
}

.project-grid-col-span-2 {
  grid-column: span 2 / span 2;
  width: 100%;
}

.project-grid-col-span-total {
  grid-column: span 8 / span 8;
  width: 100%;
}

.project-detail-project {
  background-color: rgb(210, 210, 210);
  /* color: #fff; */
}
.project-detail-area {
  background-color: rgb(180, 180, 180);
  /* color: #fff; */
}
.project-detail-indextask {
  background-color: rgb(150, 150, 150);
  color: #fff;
}
.project-detail-task {
  background-color: rgb(120, 120, 120);
  color: #fff;
}
.project-detail-task-2 {
  background-color: rgb(90, 90, 90);
  color: #fff;
}
.project-detail-task-3 {
  background-color: rgb(60, 60, 60);
  color: #fff;
}
