.area-card {
  position: relative;
  background-color: white;
  /* min-width: 20rem; */
  width: 20rem;
  height: 12rem;
  border-radius: 12px;
  border: 2px solid var(--color-primary);
  border-bottom: 10px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.area-edit {
  position: absolute;
  display: flex;
  gap: 0.3rem;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 50%;
}

.area-edit-icon {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-primary-gradiant);
  border: none;
  border-radius: 50%;
}

.area-delete-icon {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
}

.area-card-title {
  color: var(--color-secondary);
  font-size: 2rem;
  padding: 0 0.5rem;
  font-weight: 800;
}

.area-card-icon-container {
  position: absolute;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  bottom: 1px;
}

.area-card-icon {
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-secondary);
}

.area-card-text {
  font-size: 0.8rem;
  color: var(--color-quaternay);
}