.cardRegisterVoucher-container {
  display: grid;
  gap: 0.5rem;
}

.cardRegisteVoucher-figure {
  width: 1rem;
}

.cardRegisterVoucher-options {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.cardRegisteVoucher-service-orden {
  display: flex;
  align-items: center;
  color: var(--color-secondary);
  font-size: 0.7rem;
  gap: 0.5rem;
  justify-content: space-between;
}

.cardRegisterVoucher-subTitle {
  color: var(--color-secondary);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0;
  letter-spacing: 0.00938rem;
}

.cardRegisterVoucher-file-options {
  height: 3rem;
}
