.input-container {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.input-label {
  width: 100%;
  font-size: var(--size-label);
  font-family: 'Montserrat', sans-serif;
}

.input-container textarea {
  width: 100%;
  font-size: var(--size-input);
  border: 1px solid var(--color-secondary);
  border-radius: var(--radius-input);
  padding: 0.5rem;
}