.attendanceList-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr 1fr 1fr 1fr 1fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  width: 100%;
  /* height: 3.7rem; */
  background-color: #fff;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  /* border-bottom: 0.15rem solid var(--color-quaternay);  */
  padding: 0 10px;
}

.attendanceList-col {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.attendanceList-status {
  background: var(--orange-0, #fcf2e6);
  padding: 1px 10px;
  border-radius: 10px;
  color: var(--orange-500, #aa5b00);
}

.attendanceList-btn-area {
  display: flex;
  gap: 20px;
}

.attendance-btn-succes {
  background-color: var(--color-primary);
  border-radius: 10px;
  color: white;
}

.attendance-btn-denied {
  border-radius: 10px;
  border: 1px solid black;
  color: black;
}

.attendanceList-radio {
  width: 15px;
}

.attendanceList-bg {
  background-color: #f2f5fa;
}
.attendanceList-place {
  justify-content: center;
}
.attendanceList-p {
  height: 100%;
  background-color: #57d9a3b6;
  padding-bottom: 0.2rem;
  color: #424242;
  justify-content: center;
}

.attendanceList-t {
  background-color: #ffd240ab;
  padding-bottom: 0.2rem;
  color: #424242;
  justify-content: center;
}

.attendanceList-f {
  background-color: #df00003a;
  padding-bottom: 0.2rem;
  color: #424242;
  justify-content: center;
}

.attendanceList-g {
  background-color: #df00006e;
  padding-bottom: 0.2rem;
  color: #424242;
  justify-content: center;
}

.attendanceList-m {
  background-color: #c00000a2;
  padding-bottom: 0.2rem;
  color: #424242;
  justify-content: center;
}

.attendanceList-l {
  background-color: #2263e58f;
  padding-bottom: 0.2rem;
  color: #424242;
  justify-content: center;
}
