.cardMessageHeader-container-header-titles {
  display: grid;
  height: 2rem;
  padding: 0 0.3rem;
  align-items: center;
  background-color: var(--color-gray);
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.cardMessageHeader-header-item {
  display: flex;
  width: 100%;
  padding-left: 0.05rem;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 0.0275rem;
}
.cardMessageHeader-header-item span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mail-grid-col-2 {
  grid-column: span 2 / span 2;
}
.cardMessageHeader-cursor-none {
  cursor: default;
  justify-content: center;
}
