.card-add-expert-btn {
  background-color: var(--color-secondary);
  color: white;
  height: 2.5rem;
  width: 100%;
  border: 2px solid var(--color-quaternay);
  border-radius: var(--radius-input);
  padding: 0 0.3rem;
  font-size: var(--size-input);
  margin-top: 1.6rem;
}
.card-add-expert-modal {
  position: fixed;
  top: 25%;
  left: 0;
  width: 100%;
  min-height: 10%;
  padding: 2rem;
  background-color: white; /* Fondo semi-transparente para el modal */
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  border: 3px solid var(--color-secondary);
  border-radius: var(--radius-input);
}
.show {
  display: flex;
  flex-direction: column;
}
.card-add-expert-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.card-add-btn-options {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.card-add-header-title {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}
.card-add-expert-delete {
  position: absolute;
  right: 0.8rem;
}
