.dots {
  color: var(--color-primary);
  cursor: pointer;
  position: relative;
}
.dots-content {
  cursor: pointer;

  user-select: none;
}
.dot-options {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: var(--color-secondary);
  /* position: absolute; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.option-list {
  background-color: white;
  padding: 0.5rem;
  font-size: 0.8rem;
  z-index: 1;
  display: flex;
  gap: 0.5rem;
  transition: 0.3s ease-in;
  border: none;
  font-weight: 500;
  border-radius: 0;
}
.option-list:hover {
  background-color: rgb(236, 236, 236);
}

.dot-icon {
  width: 20px;
  height: 20px;
}
.menu-icon-dot {
  height: 1.3rem;
  width: 1.3rem;
}
