.levelSubtask {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.levelSubtask-content {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  width: 100%;
  background-color: #fff;
  font-size: 0.8rem;
}
.pointer {
  cursor: pointer;
}
.levelSubtask-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}
.levelSubtask-header {
  align-items: center;
  background-color: #f4f7fc;
}
.levelSubtask-header-title {
  color: #171c26;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 0.0275rem;
}
.levelSubtask-text {
  color: #171c26;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.0175rem;
}
.levelSubask-status {
  border-radius: 0.625rem;
  padding: 0.0625rem 0.625rem;
}
.UNRESOLVED {
  color: var(--color-unresolved);
  background-color: var(--color-bg-unresolved);
}
.PROCESS {
  color: var(--color-asigned);
  background-color: var(--color-bg-asigned);
}
.INREVIEW {
  color: var(--color-review);
  background-color: var(--color-bg-review);
}
.DENIED {
  color: var(--color-correction);
  background-color: var(--color-bg-correction);
}
.DONE {
  color: var(--color-done);
  background-color: var(--color-bg-done);
}
.LIQUIDATION {
  color: var(--color-f0f1fa);
  background-color: var(--color-bg-f0f1fa);
}
.levelSubtask-add {
  cursor: pointer;
  width: 100%;
  color: var(--color-secondary);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.0175rem;
  text-align: left;
}
.levelSubtask-plus {
  font-weight: 900;
}
