.task-class {
  /* background-color: var(--color-process); */
  background-color: var(--color-primary);
  border-radius: var(--radius-button);
  width: 100%;
  box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
}

.task-header-card {
  background-color: var(--color-tertiary);
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: var(--size-subtitle);
  color: #fff;
  border-radius: var(--radius-button) var(--radius-button) 0 0;
  text-align: right;
}

.icon-card {
  background-color: aqua;
  position: absolute;
  top: 1.8rem;
  left: 1.8rem;
  border-radius: var(--radius-input);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.6rem;
}

.task-content {
  background-color: #fff;
  width: 100%;
  flex-grow: 1;
  display: flex;
  padding: 3rem 1.5rem 1.5rem;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0 0 var(--radius-button) var(--radius-button);
  text-align: left;
  justify-content: end;
}
.task-unresolved {
  background-color: var(--color-unresolved);
  fill: #fff;
  color: #fff;
}
.task-process {
  background-color: var(--color-process);
  fill: var(--color-tertiary);
  color: var(--color-tertiary);
}
.task-done {
  background-color: var(--color-done);
  fill: #fff;
  color: #fff;
}
