.member-body {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 1fr 1fr 1fr;
  background-color: white;
  /* padding: 0.5rem 0.4rem; */
  min-height: 2rem;
  position: relative;
}

.member-list {
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 600;
  text-align: center;
}
.member-add {
  border: none;
  position: absolute;
}
.member-container {
  position: relative;
}
.member-select {
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  border-bottom: none;
}
.t-red {
  color: red;
}
.t-green {
  color: green;
}
.t-yellow {
  color: yellow;
}
