.content-area {
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-select {
  height: 3.5rem;
  width: 100%;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: var(--size-input);
}
.select-area {
  display: grid;
  gap: 2rem;
  width: 100%;
}
.input-label {
  width: 100%;
  height: 25px;
  color: #203881;
  font-size: var(--size-label);
}
.input-select {
  color: #203881;
  font-size: var(--size-label);
}
select:focus {
  outline: none;
}
