:root {
  --color-primary: #0e9cd8;
  --color-secondary: #001b69;
  --color-tertiary: #203881;
  --color-quaternay: #27419a;
  --color-unresolved: #ff3b3b;
  --color-grey: #00000080;
  --color-process: #ffd140;
  --color-unresolved: #d12953;
  --color-done: #14804a;
  --color-liquidation: #4f5aed;
  --color-asigned: #aa5b00;
  --color-correction: #2264e5;
  --color-review: #5a6376;
  --color-bg-unresolved: #faf0f3;
  --color-bg-done: #e1fcef;
  --color-bg-liquidation: #f0f1fa;
  --color-bg-asigned: #fcf2e6;
  --color-bg-correction: #ebf0fa;
  --color-bg-review: #e9edf5;
  --color-menu: #f7f7f7;
  --color-primary-gradiant: #a0dcf5;
  --size-title: 1.6rem;
  --size-subtitle: 0.9rem;
  --size-input: 0.8rem;
  --size-label: 0.8rem;
  --size-button: 0.9rem;
  --size-paragraph: 0.7rem;
  --radius-button: 1rem;
  --radius-input: 8px;
  --header-height: 4.5rem;
  --register-height: 70vh;
  --color-disabled: #e9edf5;
  --color-pass: #e1fcef;
  --color-ProjectAreaLvl: #dbf0f9;
  --color-SubtaskLvl: #fff;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #2b2d42;
}

button {
  font-family: inherit;
  border: none;
  background-color: #fff;
}

input {
  font-family: inherit;
  border: none;
  background-color: #fff;
  outline: transparent;
}

textarea {
  font-family: inherit;
  border: none;
  background-color: #fff;
  outline: transparent;
}

h3 {
  font-size: var(--size-subtitle);
  font-weight: 500;
  padding: 0.3rem;
}

.container {
  /* max-width: 1280px; */
  max-width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  color: var(--color-secondary);
  font-size: var(--size-title);
  font-weight: 800;
}

.main-title-span {
  color: var(--color-primary);
}

::-webkit-search-cancel-button {
  background-image: url('./../public/svg/circle-xmark-solid.svg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-appearance: none;
  height: 14px;
  cursor: pointer;
  width: 14px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  background-color: #a8a8a83c;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #0000001a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0000004d;
}

::-webkit-scrollbar-thumb:active {
  background-color: #00000066;
}

a.nostyle:link {
  text-decoration: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
