:root {
  --color-primary: #0e9cd8;
  --color-secondary: #001b69;
  --color-tertiary: #203881;
  --color-quaternay: #1040c1;
  --color-nav-active: #27419a;
  --color-unresolved: #ff3b3b;
  --color-process: #ffd140;
  --color-done: #57d9a3;
  --color-menu: #f7f7f7;
  --size-title: 3.75rem;
  --size-subtitle: 1.125rem;
  --size-button: 2rem;
  --size-input: 1.3rem;
  --size-label: 1.5rem;
  --size-button: 1.5rem;
  --size-paragraph: 0.875rem;
  --radius-button: 12px;
  --radius-input: 8px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #2b2d42;
}
button {
  font-family: inherit;
  border: none;
  background-color: #fff;
}
input {
  font-family: inherit;
  border: none;
  background-color: #fff;
  outline: transparent;
}
.container {
  width: 90%;
  max-width: 1380px;
  margin: auto;
}
