:root {
  --color-primary: #0e9cd8;
  --color-secondary: #001b69;
  --color-tertiary: #203881;
  --color-quaternay: #27419a;
  --color-unresolved: #ff3b3b;
  --color-grey: #00000080;
  --color-process: #ffd140;
  --color-done: #14804a;
  --color-liquidation: #4f5aed;
  --color-asigned: #aa5b00;
  --color-correction: #2264e5;
  --color-review: #5a6376;
  --color-primarylight: #f4f7fc;
  --color-gray-text: #464f60;
  --color-bg-unresolved: #faf0f3;
  --color-bg-done: #e1fcef;
  --color-bg-liquidation: #f0f1fa;
  --color-bg-asigned: #fcf2e6;
  --color-bg-correction: #ebf0fa;
  --color-bg-review: #e9edf5;
  --color-list-p: #57d9a3b6;
  --color-list-t: #ffd240ab;
  --color-list-f: #df00003a;
  --color-list-g: #df00006e;
  --color-list-m: #c00000a2;
  --color-list-l: #2263e58f;
  --color-list-s: #4736c9a6;
  --color-menu: #f7f7f7;
  --color-text-gray: #6e6e6e;
  --color-primary-gradiant: #a0dcf5;
  --size-title: 1.6rem;
  --size-subtitle: 0.9rem;
  --size-input: 0.8rem;
  --size-label: 0.8rem;
  --size-button: 0.9rem;
  --size-paragraph: 0.7rem;
  --radius-button: 1rem;
  --radius-input: 8px;
  --header-height: 4.5rem;
  --register-height: 70vh;
  --color-disabled: #e9edf5;
  --color-pass: #e1fcef;
  --color-ProjectLvl: #ff00002f;
  --color-includeLvl: #dbf0f9;
  --color-AreaLvl: #70ad474f;
  --color-SubtaskLvl: #fff;
  --size-contract-header: 12vh;
  --navbar-height: 60px;
  --sidebar-width: 82px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

figure img {
  width: 100%;
  height: 100%;
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #2b2d42;
}

button {
  font-family: inherit;
  border: none;
  background-color: #fff;
}

input {
  font-family: inherit;
  border: none;
  background-color: #fff;
  outline: transparent;
}

textarea {
  font-family: inherit;
  border: none;
  background-color: #fff;
  outline: transparent;
}

h3 {
  font-size: var(--size-subtitle);
  font-weight: 500;
  padding: 0.3rem;
}

.container {
  /* max-width: 1280px; */
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  color: var(--color-secondary);
  font-size: var(--size-title);
  font-weight: 800;
}

.main-title-span {
  color: var(--color-primary);
}

::-webkit-search-cancel-button {
  background-image: url('./../svg/circle-xmark-solid.svg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-appearance: none;
  height: 14px;
  cursor: pointer;
  width: 14px;
}

/* custom scrollbar */
.items-list {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: #eceaea;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* fin */
a.nostyle:link {
  text-decoration: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.user-profile-figure {
  width: 2.5rem;
  border-radius: 50%;
  border: 1px solid var(--color-secondary);
  aspect-ratio: 1;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
}

.close-icon {
  cursor: pointer;
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  width: 1rem;
  border-radius: 50%;
  transition: 0.5s ease;
}

.close-icon:hover {
  transform: rotate(-90deg);
}

.bg-color-done {
  background-color: var(--color-primary);
}

.bg-color-unresolved {
  background-color: var(--color-unresolved);
}

.bg-color-process {
  background-color: var(--color-process);
}

.bg-color-review {
  background-color: var(--color-review);
}

.col-input {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-end;
}

.col-input-top {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.margin-none {
  margin: 0;
}

.line {
  width: 100%;
  background-color: black;
  height: 1px;
}

fieldset {
  padding: 1rem;
  border-color: #eeeeee50;
  border-radius: 0.5rem;
}
legend {
  padding: 0;
  font-size: 2rem;
  color: var(--color-secondary);
  font-weight: 700;
}
.input-label {
  width: 100%;
  color: var(--color-gray-text);
  font-weight: 500;
  font-size: var(--size-label);
  height: 1.6rem;
}
