.speciality {
  max-height: calc(100vh - var(--header-height));
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}
.speciality-head {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  position: sticky;
  top: 0;
  background-color: var(--color-menu);
  z-index: 1;
}

.speciality-title {
  color: var(--color-secondary);
  font-size: var(--size-title);
  font-weight: 800;
}

.speciality-title-span {
  color: var(--color-primary);
}
.speciality-add {
  background-color: #ffffff00;
  gap: 0.4rem;
  color: var(--color-primary);
}
.speciality-add:hover {
  background-color: #ffffff;
  gap: 0.4rem;
  color: var(--color-tertiary);
}
.speciality-main {
  display: flex;
  align-items: flex-start;
}
.speciality-card-container {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
  margin-top: 1rem;
  overflow-y: auto;
}
.speciality-project-container {
  border-left: 0.2rem solid var(--color-secondary);
  width: 100%;
  padding: 0 1rem 0 1rem;
  display: grid;
  margin-top: 1rem;
  gap: 1rem 0;
  overflow-y: auto;
}
