.card-message-container-section {
  display: grid;
  height: 2rem;
  align-items: center;
}
.status-card-true {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.status-card-false {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}
.card-message-section-item {
  display: flex;
  align-items: center;
  color: #171c26;
  font-size: 0.73rem;
  font-style: normal;
  padding: 0 0.2rem;
  font-weight: 500;
  line-height: 1.25rem;
  height: 100%;
  background-color: var(--color-menu);
  border-top: 1px solid #dce4f1;
}
.card-status-message {
  border-radius: var(--radius-button);
  padding: 0.1rem 0.4rem;
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
}
.card-message-archiver-action {
  border: none;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
}
.message-cursor-none {
  cursor: default;
  justify-content: center;
}
.card-status-span {
  letter-spacing: 0.0175rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.status-ARCHIVADO {
  background-color: var(--color-bg-liquidation);
  color: var(--color-liquidation);
}
.status-PROCESO {
  background-color: var(--color-bg-asigned);
  color: var(--color-asigned);
}
.status-RECHAZADO {
  background-color: var(--color-bg-unresolved);
  color: var(--color-unresolved);
}
.status-FINALIZADO {
  background-color: var(--color-bg-done);
  color: var(--color-done);
}

.message-isOpen {
  background-color: #fff;
}
